.dashboard{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    min-height: 100vh;
    padding-top:5%
}
.dash-container{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* margin-left:10%; */
}
.flex-container{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height:fit-content;
    margin:10px;
    padding: 5px;
    background-color: white;
}
.desc{
    word-wrap: break-word;
}
h2{
    border-bottom: 1px solid black;
    padding:2px
}
.dates{
    font-weight: 600;
}