.profile{
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
}
.label{
    font-weight: 500;
}
.field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15%;
}
.data-container{
    margin: 5%;
    width: 60%;
    padding: 3% 0;
    background-color: white;
    border-radius:15px;
    box-shadow: 2px 2px 5px 0;
}
.usercourses{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-heading{
    font-weight: 700;
    font-size: 30px;
}
.usercourse {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px 0;
}
.course-desc{
    font-weight: 400;
}
.btndiv{
    display: flex;
    justify-content: center;
}