.profile{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
}
.label{
    font-weight: 500;
}
.field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
}
.data-container{
    width: 60%;
    padding-top: 10%;
    background-color: white;
    border-radius:15px;
    box-shadow: 2px 2px 5px 0;
}
